<!--login.html-->
{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %} 
<form method="POST">
    <h3 align="Center">Login</h3>
    <div class="form-group">
      <label for="textarea">User ID</label>
      <input type="text" name="userid" id="userid" value=""class="form-control" placeholder="Enter User ID"  />
      <label for="password">Password</label>
      <input type="password" name="password" id="password" value="" class="form-control" placeholder="Enter Password"  />
     </div>
     <br>
      <button type="submit" name="submitbtn" id="submitbtn" class="btn btn-primary">Login</button>
    
    </form> 
{% endblock %}
